<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jqh.core">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <application>
        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths">
            </meta-data>
        </provider>
        <activity android:name=".ui.photo.ImageSelectorActivity" />
        <activity android:name=".ui.photo.MediaSelectorActivity"></activity>
        <activity android:name=".ui.photo.VideoPlayerActivity"></activity>
    </application>

</manifest>